.cart-icon{
  a{
    position: relative;
    svg{
      width: 40px;
      height: 40px;
      fill: #0057FF;
    }
    span{
      position: absolute;
      top: -9px;
      left: 29px;
      width: 13px;
      height: 13px;
      background-color: #ff0000;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      font-size: 9px;
      line-height: 14px;
      padding: 2px;
    }
  }
}