html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}


.footer {
    padding: 20px 0;
    background-color: $color-bg;
}

.footer__cpr {
    font-size: 12px;
}

.footer .payment-icons {}
