.header {
  background-color: $color-bg;
  overflow: hidden;
  padding: 5px 0;

}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    margin: 0;
  }
}

.search-form {
  display: flex;
  width: 400px;
  input{
    width: 100%;
    text-indent: 10px;
    &:focus{
      outline: none;
    }
  }
}
