.header {
  background-color: $color-bg;
  overflow: hidden;
  padding: 25px 0;

}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  display: flex;
}
