.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  width: 100%;
  max-width: 465px;
}

.input,
.textarea {
  width: 100%;
  padding: 27px 15px 5px;
  margin-top: 13px;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  line-height: 24px;
  transition: all 0.3s ease;
  &:focus,
  &:active,
  &[data-focus-visible] {
    border-color: 1px solid #cccccc;
    outline: none;
  }
  &::placeholder {
    opacity: 0;
  }
  &[aria-invalid='true'],
  &[data-valid='false'] {
    border-color: red;
  }
}

.input-label {
  position: absolute;
  top: 30px;
  bottom: auto;
  left: 15px;
  margin-bottom: 12px;
  margin-bottom: 0;
  letter-spacing: 0.14px;
  color: #000000;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.textarea {
  height: 86px;
  resize: none;
}

.input:placeholder-shown + .input-label,
.textarea:placeholder-shown + .input-label {
  top: 30px;
}

.input:placeholder-shown + .error + .input-label,
.textarea:placeholder-shown + .error + .input-label {
  top: 30px;
  font-size: inherit;
}

.input:focus + .input-label,
.input.focus-visible + .input-label,
.textarea:focus + .input-label,
.textarea.focus-visible + .input-label {
  top: 20px;
  font-size: 12px;
}

.input:not(:placeholder-shown) + .input-label,
.textarea:not(:placeholder-shown) + .input-label {
  top: 20px;
  font-size: 12px;
}

.input:focus + .error + .input-label,
.input.focus-visible + .error + .input-label,
.input + .error + .input-label,
.textarea:focus + .error + .input-label,
.textarea.focus-visible + .error + .input-label,
.textarea + .error + .input-label {
  top: 20px;
  font-size: 12px;
}

label.error {
  position: absolute;
  left: 15px;
  top: 105%;
  font-size: 11px;
  color: red;
}

.form-group .icon {
  position: absolute;
  top: 32px;
  right: 15px;
  display: none;
  fill: #cccccc;
}

.form-group.valid {
  .icon--tick {
    display: inline-block;
  }
}

.form-group.error {
  .icon--fail {
    display: inline-block;
    fill: red;
  }
}

// Success
.form-success,
.form-errors {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px 20px;
  background-color: #f0f0f0;
}

.form-success .icon--check {
  fill: #15a82c;
}

.form-success__message {
}
