<!-- /sections/footer.liquid -->

<footer class="footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="container">
    
    <div class="text-center">
      {% include 'footer-payment' %}

      <div class="footer__cpr">Shopify Stores and Services by <a href="#">makebecool</a></div>
    </div>
  </div>
</footer>

